<div ng-app="AngulaRails">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>With Facebook ID</h2>
        <multi-avatar data-facebook-id="717976707"/>
      </div>
      <div class="col-lg-4">
        <h2>With GitHub Username</h2>
        <multi-avatar data-github-username="jwo"/>
      </div>
      <div class="col-lg-4">
        <h2>With Email</h2>
        <multi-avatar data-email="jesse@rubyoffrails.com"/>
      </div>
      <div class="col-lg-4">
        <h2>Blank</h2>
        <multi-avatar data-facebook-id='' data-github-username='' data-email=''>
      </div>
    </div>
  </div>
</div
